<div class="mgc-agreement-widget" data-agreement-widget data-shop-domain="{{ shop.permanent_domain }}" data-api-base="/apps/rental">
  <div class="mgc-agreement-widget__mount"></div>
</div>

{% schema %}
{
  "name": "Agreement Cart Widget",
  "target": "section",
  "stylesheet": "agreement-cart-widget.css",
  "javascript": "agreement-cart-widget.js",
  "settings": []
}
{% endschema %}
