name = "mexican-golf-cart-worker"
main = "src/index.ts"
compatibility_date = "2024-01-01"

# Global bindings (Production by default)
[vars]
ENVIRONMENT = "production"
SHOPIFY_API_KEY = "ec7f70d8e7c5f2ec9cb8b6811b23e491" # Matches client_id in shopify.app.toml
SHOPIFY_APP_URL = "https://example.com" # Update this to your deployed Worker URL


[[d1_databases]]
binding = "DB"
database_name = "mexican-golf-cart-db-prod"
database_id = "INSERT_PROD_DB_ID_HERE"

# Development Environment (wrangler dev --env dev)
[env.dev]
[env.dev.vars]
ENVIRONMENT = "dev"
[[env.dev.d1_databases]]
binding = "DB"
database_name = "mexican-golf-cart-db-dev"
database_id = "INSERT_DEV_DB_ID_HERE"

# Staging Environment
[env.staging]
[env.staging.vars]
ENVIRONMENT = "staging"
[[env.staging.d1_databases]]
binding = "DB"
database_name = "mexican-golf-cart-db-staging"
database_id = "INSERT_STAGING_DB_ID_HERE"
